{# templates/security/login.html.twig #}
{% extends 'signin.html.twig' %}

{% block title %}Iniciar sesión!{% endblock %}
    
{% block Signin %}
<!--begin::Signin-->              
<div class="login-form login-signin">
    <!--begin::Form-->
    <form class="form" novalidate="novalidate" id="kt_login_signin_form" role="form" method="post">
        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Bienvenido a Innovare</h3>
            <span class="text-muted font-weight-bold font-size-h4">Nuevo? <a href="{{ path('registration') }}" class="text-primary font-weight-bolder">Crear una cuenta</a></span>
        </div>
        <!--begin::Title-->
          {% if error %}
          <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
          </div>
          {% endif %} 
        <!--begin::Form group-->
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder text-dark">Correo electrónico</label>
            <input
            id="inputEmail"
            type="email"
            class="form-control form-control-solid h-auto py-5 px-6 rounded-lg"
            name="email"
            value="{{ last_username }}"
            required
            autofocus />
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
            <div class="d-flex justify-content-between mt-n5">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5">Contraseña</label>

                <a href="javascript:;" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5" id="kt_login_forgot">
                    Se olvidó su contraseña ?
                </a>
            </div>
            <input
            id="inputPassword"
            type="password"
            class="form-control form-control-solid h-auto py-5 px-6 rounded-lg"
            name="password"
            autocomplete="off" />                        
        </div>
        <!--end::Form group-->
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />                        
            <button type="button" id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Iniciar sesión</button>
        </div>
        <!--end::Action-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signin-->
{% endblock %}
