<table class="table table-separate table-head-custom table-checkable" id="table-{{ data['id'] }}">
    <thead>
    <tr>
        {% for column in data['columns'] %}
            <th>{{ column }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
{#    <tr>#}
{#        <td>1</td>#}
{#        <td>hboule0@hp.com</td>#}
{#        <td>Hayes Boule</td>#}
{#        <td>Casper-Kerluke</td>#}
{#        <td>5</td>#}
{#        <td>1</td>#}
{#        <td nowrap></td>#}
{#    </tr>#}
    </tbody>
</table>